* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.select {
  max-width: 300px;
  text-align: center;
  position: relative;
  cursor: pointer;

  &__title {
    padding: 10px;
    border: 1px solid #000;
  }
  &__items {
    position: absolute;
    width: 100%;
    border: 1px solid #000;
    border-top: none;
    left: 0;
    right: 0;
  }
  &__item {
    &:first-child {
      border-top: transparent;
    }
    padding: 10px;
    border-top: 1px solid #000;
    &.selected {
      background-color: gold;
    }
  }
}
